@charset "utf-8";

table{
    color: blue;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    width: 75%;
    margin-bottom: 3%;
}

th{
    color: white;
    background-color: rgb(65, 63, 79);
    border: 3px solid rgb(45, 45, 115);
    height: 80px;
    font-size: large;
}

tr:first-of-type, tr:nth-of-type(odd) td, tr:nth-of-type(even) td:first-of-type{
    text-align: center;
    color: white;
    background-color: rgb(126, 158, 194);
    border: 3px solid rgb(46, 46, 160);
    height: 80px;
    font-size: large;
}

tr td{
    text-align: center;
    color: white;
    background-color: #2e427a4b;
    border: 3px solid rgba(81, 89, 125, 0.708);
    height: 80px;
    font-size: large;
}


/*button style*/
button#ticket{
    padding: 10px 17px;
    border-radius: 12px;
    background: transparent;
    border: 2px solid #213D54;
    color: #213D54;
    cursor: pointer;
    font-size: .75rem;
    outline: none;
    font-weight: bolder;
    position: relative;
    left: 83%;
    margin-bottom: 3%;
}

button#ticket:hover{
    background-color: #213D54;
    color:white;
}